.bg {
  background-image: url("../images/bg.png");
}
.glass {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(5px);
}
#mensagem::placeholder {
  color: #ffffff;
}
#mensagens h4, #mensagens p {
  color: #ffffff;
}
#mensagens {
  background: rgba(0, 0, 0, 0.25);
}
.mensagem {
  background: rgba(0, 0, 0, 0.25);
}