.bg {
  background-image: url("../images/bg.png");
}
.glass {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(5px);
}
#mensagem::placeholder {
  color: #ffffff;
}
#mensagens-estaticas h4, #mensagens-estaticas p {
  color: #ffffff;
}
.mensagem h6, .mensagem i, .online h6, .online i {
  color: #4cd137;
}
#mensagens-estaticas, #bg-input-mensagem {
  background: rgba(0, 0, 0, 0.25);
}
.mensagem {
  background: rgba(0, 0, 0, 0.25);
}
.avatar {
  width: 4rem;
}
.avatar-online {
  height: 1.25rem;
}